server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/devsu
    username: devsu
    password: devsu
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest    
