server:
  port: 8081

spring:
  application:
    name: cliente-service

  datasource:
    url: jdbc:postgresql://localhost:5432/devsu
    username: devsu
    password: devsu
    driver-class-name: org.postgresql.Driver
    
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  jpa:
    hibernate:
      ddl-auto: update